img {
    width: 500px; 
    height: auto ;
}

body {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Questrial', sans-serif;

}

.portfolio-image {
    width: 175px;
    height: 175px;
}